<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <p-breadcrumb [model]="breadcrumbItems" [home]="homeIcon"></p-breadcrumb>
            <h1>Your Budget Summary</h1>
            <div class="card card-w-title">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <p-table [value]="budgets">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Created On</th>
                                    <th>Month</th>
                                    <th>Disposable Cash</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-budget>
                                <tr>
                                    <td>{{budget.createdOn | date: 'medium'}}</td>
                                    <td>{{budget.month}}</td>
                                    <td>{{budget.disposableCash | currency : 'R '}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-treeTable [value]="files1">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Type</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                                <tr>
                                    <td>
                                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                        {{rowData.name}}
                                    </td>
                                    <td>{{rowData.size}}</td>
                                    <td>{{rowData.type}}</td>
                                </tr>
                            </ng-template>
                        </p-treeTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
